* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: #040404;
  margin: 30px 0 0 0;

  display: flex;
  justify-content: center;
}

.starImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.8;
}

.gradient {
  height: 1rem;
  width: 1rem;
  background:radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 32%, rgba(255, 255, 255, 0.5) 100%);
}