.navList {
    padding: 20px 60px;
    width: 95vw;
    height: 60px;
    margin: auto;

    position: relative;
    z-index: 1;
    
    border-radius: 18px;
    
    font-size: 16px;
    font-weight: 500;

    display: grid;
    align-content: center;
}

.yellowBackGround {
    background-color: #E0D03B;
}

.orangeBackGround {
    background-color: #f46228;
}

.navList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.navList a {
    text-decoration: none;
    color: inherit;
}

.gridLogo {
    display: grid;
    align-items: center;
    justify-items: center;
}