.main {
    background-image: url('/fog.svg');
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    color: white;

    display: flex;
    justify-content: center;
}

.itemsContainer {
    margin: 0 20%;
    min-width: 1080px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.title {
    font-size: 145px;
    line-height: 140px;
}

.h1Yellow {
    color: #E0D03B;
}

.orangeTitle {
    color: #f46228
}

.h1White {
    opacity: 0.3;
}

.timeLine table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

thead .firstCol {
    width: 214px;
}

thead .secondCol {
    width: 165px;
}

thead .thirdCol {
    width: 158px;
}

thead .fourthCol {
    width: 158px;
}

thead .fifthCol {
    width: 158px;
}

thead .sixthCol {
    width: 158px;
}

thead .seventhCol {
    width: 69px;
}

.timeLine tr {
    vertical-align: top;
}

.timeLine thead tr td{
    font-size: 1.5rem;
    font-weight: 700;
}

.timeLine tbody tr td {
    padding-top: 2rem;
    padding-right: 2rem;
}

.featuresTitle, 
.networksTitle {
    font-size: 1.5rem; 
    font-weight: 700;
}

.networksContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    float: left;

    margin-bottom: 1.5rem;
}

.networksContainer img {
    margin-right: 0.5rem;
}