.main {
    width: 100vw;
    background: #E0D03B;
    border-radius: 70px;
    padding: 2.5rem 0;

    display: grid;
    grid-template-areas: 'grid-h1 grid-h1 grid-h1'
                'secondRow secondRow secondRow';
    justify-content: center;
}

.secondRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    
    grid-area: secondRow;
}

.firstRowTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;

    grid-area: grid-h1;
}

.firstRowTitle h1 {
    margin: 0;
}

.secondRow div {
    max-width: 20vw;
}

.secondRow hr {
    border: 1px solid #000000;
    background-color: black;
}

.secondRow h3 {
    font-size: 1.5rem;
}

.secondRow p {
    font-size: 1.125rem;
}